manifest {
    name = 'metatranscriptomics-nextflow'
    description = 'Metatranscriptomic RNA workflow translated from the reference Snakemake pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=26.04.0'
}

params {
    samples = 'config/samples.tsv'
    outdir = 'results'

    adapter_dir = 'adapter_seq'
    adapter_selected = 'NexteraPE-PE.fa'
    adapter_fasta = null

    sortmerna_dir = 'resources/sortmerna'
    sortmerna_ref = 'resources/sortmerna/smr_v4.3_default_db.fasta'
    drep_genomes_dir = ''

    trimmomatic_java_opts = '-Xmx16g'
    trimmomatic_illuminaclip = '2:30:10'
    trimmomatic_options = 'LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36'

    threads {
        trimmomatic = 16
        fastqc = 4
        sortmerna = 16
        bbmap = 12
    }

    memory {
        trimmomatic = '16 GB'
    }
}

process {
    executor = 'local'
    errorStrategy = 'terminate'

    withLabel: python {
        container = 'python:3.11-slim'
    }

    withLabel: download {
        container = 'python:3.11-slim'
    }

    withLabel: trimmomatic {
        container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
    }

    withLabel: fastqc {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withLabel: sortmerna {
        container = 'quay.io/biocontainers/sortmerna:4.3.6--h9ee0642_0'
    }

    withLabel: bbmap {
        container = 'quay.io/biocontainers/bbmap:39.01--h92535d8_1'
    }
}

profiles {
    docker {
        docker.enabled = true
        process.containerOptions = '--platform linux/amd64'
    }
}
